body{
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;


}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  color:#11999E;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.title{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

profile-pic{
  height: 50%;
  width:50%;
  border-radius: 50%;
  margin:30px;
}

.dotted{
  border:dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none;
  margin: 100 px auto;

}

.circular{
  width: 20%;
  float:left;
  margin-right: 50px;
}

.chillies{
  width: 20%;
  float:right;
  margin-left: 50px;
}

.btn{
  color:#EAF6F6;
  border-radius: 8%;
  background-color:#18b0b0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  padding: 15px;
  text-decoration: none;
}


.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
	background-color:#11cdd4;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
height:43px;
	line-height:43px;
width:149px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4) );
	background:-moz-linear-gradient( center top, #11999e 5%, #11cdd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4');
	background-color:#11999e;
}.classname:active {
	position:relative;
	top:1px;
}</style>



.contact-me{

}



.top-container{
  background-color: #EAF6F6;
  position:relative;
  padding-top: 100px;
}

.middle-container{
}

.bottom-container{
  background-color: #4cd3c2;
  line-height: 3;
  margin-top: 100px;
  padding-top: 30px;
}

.top-cloud{
  position:absolute;
  right:20%;
  top:80px;
}

.bottom-cloud{
  position:absolute;
  left:20%;
  bottom:300px;
}

.footer-link{
  color:#11999E;
  margin: 50px;
  text-decoration: none;
}
.footer-link:hover{
  color:#EAF6F6;
}

.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.copyright{
  color:#EAF6F6;
  margin:0;
  font-size: 1rem;
}
